.page-container{
  display: flex;
  flex-direction: column;
}

.page-container h1 {
  margin: auto;
}

.display-container{
  display: flex;
  flex-direction: row;
}

.input-pnl {
  width: 200px;
  height: auto;
  min-height: 480px;
  background-color: rgb(222, 233, 238);
  /* flex-direction: column; */
  margin-top: 40px;
  margin-left: 40px;
  border-style: solid;
  border-radius: 20px;
  position: relative;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.input-pnl-heading {
  font-size: 25px;
}

.input-location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.input-location-section>h3 {
  margin-bottom: 10px;
}

.lineplot {
  margin-top: 40px;
  margin-left: 40px;
}

.hour-granularity-selection-container>h3 {
  margin-bottom: 0px;
}


.hour-granularity-selection {
  margin-top: 30px;
}

.hour-granularity-selection {
  margin-top: 10px;
}

.hour-granularity-selection>p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.hour-granularity-radio{
  margin-top: 0px;
  margin-bottom: 0px;
}

.hour-granularity-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.hour-granularity-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hour-granularity-radio input {
  width: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hour-granularity-radio p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.severity>h3 {
  margin-bottom: 0px;
}

.severity-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}

.severity-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.severity-input p {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
}

.severity-input input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 20px;
  height: auto;
}



